* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.library {
  display: flex;
  justify-content: space-evenly;
}

.book-card {
  max-width: 10em;
  border: 1px solid;
  padding: 0.625em;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  width: 13em;
  padding: 0.75em;
  border: 1px solid;  
  margin: 0 auto;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.25em;
}
